html
  head
    title Mern Boiler
    
    
  body
    div.app-target
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.1/react.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.1/react-dom.js")
  script(src="/App.js")
