/* CSS declarations go here */

body {
  color: #fff;
  background: url('http://cdn2.hubspot.net/hubfs/1652180/meteorHeaderA.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar a, .navbar a:focus {
  border: none;
}

.navbar a:hover {
  cursor: pointer;
}

form {
  background: rgba(0, 0, 0, 0.5);
  padding: 50px;
}

input {
  color: #ddd !important;
}
